<?xml version="1.0"?>
<launch>
  <include file="$(find multirobot_nv)/launch/start_map.launch">
  <arg name="map_file" value="$(env HOME)/map/map.yaml" />
  </include>
  
  <!-- programm to load turtlebot node from template_start_turtlebot_namespace.launch --> 

  <!-- programm to load rosbot node from temlate_start_rosbot_namespace.launch -->


</launch>
