<?xml version="1.0"?>
<launch>
  <include file="$(find multirobot_nv)/launch/start_rosbot.launch">
  <arg name="robot_namespace" value="rb2_0" />
  <arg name="rb2_0_init_x" value="0.0" />
  <arg name="rb2_0_init_y" value="0.0" />
  <arg name="rb2_0_init_a" value="0.0" />
  <arg name="rosbot_pro" value="true" />
  </include>
</launch>
