<?xml version="1.0"?>
<launch>
  <include file="$(find multirobot_nv)/launch/start_rosbot.launch">
    <arg name="robot_namespace" value="rosbot1" />
    <arg name="rosbot1_init_x" value="0.0" />
    <arg name="rosbot1_init_y" value="0.0" />
    <arg name="rosbot1_init_a" value="0.0" />
  </include>
</launch>
